.App {
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
}

.Wrapper {
  height: 100dvh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 910px) {
  .Wrapper {
    flex-direction: row;
  }
}
